

/* *********************** */

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
    width: 100%;
  }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #d8d8d8;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    color: #e8e8e8;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #464693;
    /* background: #ac0474b7; */
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
  
  
  
  /* //*********** */
  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    font-size: 2rem;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.219);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  
/* b3 */
 
  
  .wrapperAnchor{
    text-shadow:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #d1d1d1;
    border-radius: 0.5rem;
    background-color: rgb(31, 31, 31);
    /* border: 2px solid #333; */
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .wrapperAnchor span{
    position: relative;
    z-index: 2;
    font-weight: 900;
    font-size: 1.5rem;
  }
  
  .wrapperAnchor:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fdfdfd;
    border-radius: 0.5rem;
    transition: all .35s;
  }
  
  .wrapperAnchor:hover{
    color:  rgb(37, 37, 37);
  }
  
  .wrapperAnchor:hover:after{
    width: 100%;
  }



  @media screen and (max-width: 600px) {

    /* Your CSS styles for screens smaller than 600px go here */
    .wrapperAnchor {
        width: 200px !important;
        height: 30px !important;
    }
    .wrapperAnchor span{
        font-size: 1rem;
      }
      
  }