@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://ssniper.sirv.com/Images/other%20projects/HankenGrotesk-Regular.ttf');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playwrite+IT+Moderna:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* .bgImage{
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url('https://ssniper.sirv.com/Images/other%20projects/premium_photo-1661771836121-9108a83875d7.avif');
} */
/* fonts */
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.HankenGrotesk {
  font-family: 'Hanken Grotesk', sans-serif
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lightGreenBG {
  background-color: #DEE8D9;
}

/* fonts */
@media screen and (max-width: 600px) {

  /* Your CSS styles for screens smaller than 600px go here */
  .bgImageContainer {
    min-height: 50vh !important;
  }

  .bgImageContainer::after {
    min-height: 50vh !important;
  }

  .secondaryItem {
    padding: 3rem 0 !important;
  }
}

.bgImageContainer {
  width: 100% !important;
  background-repeat: no-repeat;
  background-image: url('https://ssniper.sirv.com/Images/other%20projects/123.jpg');
  background-size: cover;
  /* Ensures the image covers the entire container */
  background-position: end;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  min-height: 90vh;
  /* Ensures the container has a minimum height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.bgImageContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* Prevents the image from repeating */
  min-height: 90vh;
  width: 100%;
  background: inherit;
  /* Use the same background image */
  background-size: inherit;
  background-position: inherit;
  filter: blur(5px) saturate(0.2) sepia(0.46) opacity(0.52) brightness(1.4);
  /* Apply the blur effect */
  z-index: 2;
  /* Ensure the blur overlay is behind the content */
}

.blured::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.274);
  filter: blur(5px);
}

.blurred {
  background-color: transparent !important;
}

.bgImage {
  width: 100%;
  height: auto;
  display: block;
}

.overlayText {
  text-align: start !important;
  width: 100%;
  z-index: 3;
  color: white;
  /* Change color as needed */
  font-weight: bold;
  /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Add shadow for better readability */
  text-align: center;
  /* Center align text */
}

.outlined-text2 {
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.288),
    1px -1px 0 rgba(0, 0, 0, 0.288),
    -1px 1px 0 rgba(0, 0, 0, 0.288),
    1px 1px 0 rgba(0, 0, 0, 0.288),
    0 -1px 0 rgba(0, 0, 0, 0.288),
    0 1px 0 rgba(0, 0, 0, 0.288),
    -1px 0 0 rgba(0, 0, 0, 0.288),
    1px 0 0 rgba(0, 0, 0, 0.288);
}

.borderButton {
  border: 2px solid black;
}

.text-bold {
  font-weight: 900;
}

.pyramdis {
  width: 100%;
  z-index: 6;
  bottom: 100;
  left: 0;
}

.pyramdis2 {
  width: 100%;
  z-index: 6;
  bottom: 0;
  left: 0;
}

.secondaryItem {
  padding: 9rem 0;
}

.TopImage {
  margin-bottom: -4px;
  /* Adjust as needed */
}

.bottomImage {
  margin-top: -4px;
  /* Adjust as needed */
}

.myDark {
  color: #DEE8D9;
  background-color: #171717;
}

.myLight {
  color: #181818;
  background-color: #F6F6F4;
}

.background-text {
  -webkit-text-stroke: 2px #181818;
  font-size: 30vw;
  overflow: hidden;
  font-weight: bold;
  background: url('https://ssniper.sirv.com/Images/other%20projects/paint.jpg') no-repeat center center;
  background-size: 60vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  vertical-align: middle;
}

.background-text-dark {
  -webkit-text-stroke: 2px #f0f0f0;
  font-size: 30vw;
  overflow: hidden;
  font-weight: bold;
  background: url('https://ssniper.sirv.com/Images/other%20projects/purple.jpg') no-repeat center center;
  background-size: 60vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  vertical-align: middle;
}